<script>
import {getJetBrainsWebViewApi} from "./webview";
import GitLabDuoChat from "./GitLabDuoChat.vue"

const WEBVIEW_STATUS = {
  LOADED: "LOADED",
  LOADING: "LOADING",
  ERROR: "ERROR"
}

export default {
  name: 'GitLabDuoChatApp',
  components: {
    GitLabDuoChat,
  },
  data() {
    return {
      webView: null,
      isWebViewLoaded: false,
      webViewStatus: WEBVIEW_STATUS.LOADING,
      errorMessage: null
    };
  },
  computed: {
    isLoaded() {
      return this.webViewStatus === WEBVIEW_STATUS.LOADED
    },
    isLoading() {
      return this.webViewStatus === WEBVIEW_STATUS.LOADING
    },
    isError() {
      return this.webViewStatus === WEBVIEW_STATUS.ERROR
    }
  },
  async mounted() {
    try {
      this.webView = await getJetBrainsWebViewApi()
      this.webViewStatus = WEBVIEW_STATUS.LOADED
    } catch (err) {
      this.webViewStatus = WEBVIEW_STATUS.ERROR
      this.errorMessage = err.toString()
    }
  },
};
</script>
<template>
  <div v-if="isLoading">
    Loading....
  </div>
  <div v-else-if="isError">
    <p>
      WebView could not be loaded due to the following issue:
    </p>
    <code>
      {{ this.errorMessage }}
    </code>
  </div>
  <GitLabDuoChat v-else-if="isLoaded" :web-view="webView"/>
</template>
<style lang="scss">
@import 'styles';
</style>
